{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}

{% block page_content %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Result</title>
</head>
<body>
<div class="row">
    <div class="col-md-12 col-sm-24 col-xs-24">
        <div>
            <div >
                <h1>Available rooms</h1>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">

                        <thead>
                        <tr>
                            {% for i in labels %}
                                <td><h3>{{ i }}</h3></td>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>


                    <form method="post">

                        <div>
                            <div >
                                {% for i in content %}
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="font-size: 2em; "><label for="name">{{ i }}
                                </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input name={{ i }} value="Y" type="radio"> Yes &nbsp&nbsp&nbsp&nbsp
                                    <input name={{ i }} value="N" type="radio" checked="checked"> No
                                    <br /></span>
                                {% endfor %}
                            </div>
                        </div>
                        <br /><br />
                        <h3><input type="submit" value="book" id={{ i }}></h3>
                    </form>
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}

                </div>
            </div>
            <div >
                <h1>Booked rooms</h1>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">

                        <thead>
                        <tr>
                            {% for i in labels %}
                                <td><h3>{{ i }}</h3></td>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>

                    <div>
                        <div >
                            {% for i in content1 %}
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="font-size: 2em; "><label for="name">{{ i }}
                            </label>
                                <br /></span>
                            {% endfor %}
                        </div>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>
{% endblock %}



